@(Anuncios: List[Anuncio])(numAnunciosResolvidos: Int)(erro: Int)
<html lang="">
<head>
    <meta charset="UTF-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bands - Anuncie sua banda</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="@routes.Assets.at("stylesheets/font-awesome.css")" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->

    <!-- CUSTOM STYLES-->
    <link href="@routes.Assets.at("stylesheets/custom.css")" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- TABLE STYLES-->
    <link href="@routes.Assets.at("stylesheets/dataTables.bootstrap.css")" rel="stylesheet" />
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index()">My Bands</a>
        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="assets/img/find_user.png" class="user-image img-responsive"/>
                </li>


                <li>
                    <a class="active-menu" href="@routes.Application.index()"><i class="fa fa-dashboard fa-3x"></i> Anúncios</a>
                </li>


                <li  >
                    <a  href="@routes.Application.newAnuncio()"><i class="fa fa-edit fa-3x"></i> Criar Anúncio </a>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2>Anúncios</h2>
                    <h5>Seja Bem Vindo ao My bands, monte sua banda e faça sucesso! </h5>

                </div>
            </div>
            <!-- /. ROW  -->
            <hr />
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-envelope-o"></i>
                </span>
                        <div class="text-box" style="width: 190px">
                            <p class="main-text">@(Anuncios.size() + numAnunciosResolvidos) Publicados</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-bars"></i>
                </span>
                        <div class="text-box" >
            
                            <p class="main-text">@Anuncios.size() Pendentes</p>
                        
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon">
                    <i class="fa fa-rocket"></i>
                </span>
                        <div class="text-box" >
                            <p class="main-text">@numAnunciosResolvidos Resolvidos</p>
                        </div>
                    </div>
                </div>
               
                
            </div>
            <hr />


            <div class="row">
               @if(erro == 1) {
                <div id="erroAlerta" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    O código que você inseriu está incorreto.
                </div>
            }else {
            
             @if(erro == 2){
             	<div class="alert alert-success" role="alert">
  					 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  					  Anúncio foi desativado com sucesso.
				</div>
             }
               
            }
            
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Tabela de Anúncios
                        </div>
                        <div class="panel-body">
                        
                       <div class="form-group">
                       <form action="@routes.Application.pesquisarAnuncio()" method="get">
                         <label>Buscar por:</label>
                           <label>
                          <input type="radio" name="pesquisa" id="embanda" value="Em Banda" checked />Tocar em banda
                            </label>
                            <label>
                          <input type="radio" name="pesquisa" id="Ocasionalmente" value="Ocasionalmente" checked />Tocar Ocasionalmente
                           </label>
                           <label>
                          <input type="radio" name="pesquisa" id="Todos" value="Todos" checked />Todos
                           </label>
                           <button type="submit" class="btn btn-default btn-sm">
          					<span class="glyphicon glyphicon-search"></span>&ensp;
        					</button>
        					</form>
                           
                       		
                                        
             			 </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Descrição</th>
                                        <th>Data de Criação</th>
                                        <th>Telefone</th>
                                        <th>Email</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                   
                                   @for(Anuncio <- Anuncios) {
                        			<tr class="even gradeC"">
                            			<td>@Anuncio.getNome()</td>
                            		<td class="center"> 
                                     @Anuncio.getDescricao()
                                   </td>
                            		<td class="center">
                            		  @Anuncio.getDateFormat()
                            		</td>
                            		  <td class="center">@Anuncio.getAnunciante().getContato().getTelefone()</td>
                                        <td class="center">@Anuncio.getAnunciante().getContato().getEmail()
                                          
                                          <form action="@routes.Application.deleteAnuncio(Anuncio.getId())" method="post"> 
                                                 
                                          		<p></p>
                                          		<p align="right"> 
                                                
        							 
        									     <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                                                  Detalhes
                                                 </button>
                                                 
                                                 
                                                 <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">@Anuncio.getNome()
        &ensp;&ensp;</h4> <h7><strong>@Anuncio.getDateFormat</strong></h7>
      </div>
      <div class="modal-body">
         <strong>Descrição:</strong> &nbsp;
         @Anuncio.getDescricao()
        
         <br><br>
         <strong>Instrumentos: </strong> &nbsp;
         @Anuncio.getAnunciante.getInstrumentos() 
                  <br><br>
         
         <strong>Estilos Preferidos: </strong> &nbsp;
         @Anuncio.getStylesLike() 
        
         <br><br>
        <strong>Estilos que não desejados: </strong> &nbsp;
         @Anuncio.getStylesNotLike() 
         <br><br>
          
         <strong>Telefone: </strong>@Anuncio.getAnunciante.getContato.getTelefone() <br>
         <strong>Email: </strong>@Anuncio.getAnunciante.getContato.getEmail() <br>
         <strong>Facebook: </strong>@Anuncio.getAnunciante.getContato.getOutrosContatos <br>
        
          
       
       

		</script>
      </div>
      <div class="modal-footer">
     <div align="left">
     
     <form action="@routes.Application.pesquisarAnuncio()" method="get">
                  
                           <label>
                          <input type="radio" name="deleteAnuncio" id="resolvi" value="resolvi" checked />Encontrei
                            </label>
                            <label>
                          <input type="radio" name="deleteAnuncio" id="naoResolvi" value="naoResolvi" checked />Não Encontrei
                           </label>
                          
        					</form>
       <input type="text" class="form-control" style="width: 120px" name="palavrachave" placeholder="Palavra-chave" required>
        									      <button type="submit" class="btn btn-default btn-danger" > Deletar Anuncio
          									      <span class="glyphicon glyphicon-trash"></span>
        									     </button>
        									     </div>
        				
      </div>
    </div>
  </div>
</div>
      										
                                            	</p>
                            					</form>
                                         
                                         
                                        
                                        </td>
                        			</tr>
                                   }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>

<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
<!-- METISMENU SCRIPTS -->
<script src="@routes.Assets.at("javascripts/jquery.metisMenu.js")"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="@routes.Assets.at("javascripts/dataTables/jquery.dataTables.js")"></script>
<script src="@routes.Assets.at("javascripts/dataTables/dataTables.bootstrap.js")"></script>
<script>
	$(document).ready(function() {
		$('#dataTables-example').dataTable();
	});
</script>
<!-- CUSTOM SCRIPTS -->
<script src="@routes.Assets.at("javascripts/custom.js")"></script>


</body>
</html>

