@(styles: List[Style])(instrumentos: List[Instrumentos])
<html lang="">

<head>
<meta charset="UTF-8" />
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Free Bootstrap Admin Template : Binary Admin</title>
<!-- BOOTSTRAP STYLES-->
<link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" />
<!-- FONTAWESOME STYLES-->
<link href="@routes.Assets.at("stylesheets/font-awesome.css")" rel="stylesheet" />
<!-- CUSTOM STYLES-->
<link href="@routes.Assets.at("stylesheets/custom.css")" rel="stylesheet" />
<link href="@routes.Assets.at("stylesheets/multiple-select.css")" rel="stylesheet" />

<!-- GOOGLE FONTS-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="@routes.Application.index()">My Bands</a>
			</div>

		</nav>
		<!-- /. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">
					<li class="text-center"><img src="assets/img/find_user.png"
						class="user-image img-responsive" /></li>


					<li><a href="@routes.Application.index()"><i
							class="fa fa-dashboard fa-3x"></i>Anúncios</a></li>

					<li><a class="active-menu" href="@routes.Application.newAnuncio()"><i
							class="fa fa-edit fa-3x"></i> Criar Anúncio </a></li>

				</ul>

			</div>

		</nav>
		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row">
					<div class="col-md-12">
						<h2>Novo Anúncio</h2>
						<h5>Seja Bem Vindo ao My bands, monte sua banda e faça
							sucesso!</h5>

					</div>
				</div>
				<!-- /. ROW  -->
				<hr />
				<div class="row">
					<div class="col-md-12">
						<!-- Form Elements -->
						<div class="panel panel-default">
							<div class="panel-heading">Crie um novo Anúncio</div>
							<div class="panel-body">
								<div class="row">
								 <form role="form" action="@routes.Application.novoAnuncio()" method="post" autocomplete="off">
                     
                     <div class="col-md-6">
                        <h3><i class="glyphicon glyphicon-check"></i>&ensp; Detalhes do Anuncio</h3>
                        
                        <div class="form-group">
                           <label>Titulo :</label>
                           
                              <input type="text" class="form-control" name="titulo" placeholder="Titulo da postagem" required autofocus>
                           
                        </div>
                        <div class="form-group">
                           <label class="control-label">Descrição :</label>
                           
                              <textarea  class="form-control" rows="3" maxlength="100" name="descricao" placeholder="Descrição breve para seu anuncio" required></textarea>
                           
                        </div>
                     
                     
                        <h3><i class="glyphicon glyphicon-user"></i>&ensp; Detalhes do Anunciante</h3>
                        
                         <div class="form-group">
                           <label>Nome : </label>
                           
                              <input type="text" name="nome" class="form-control"  placeholder="Ex: Niolas Gabriel" required>
                           
                        </div>
                        <div class="form-group">
                           <label>Cidade : </label>
                           
                              <input type="text" class="form-control" name="cidade" placeholder="Ex: Campina Grande" required>
                           
                        </div>
                        <div class="form-group">
                           <label class="control-label">Bairro : </label>
                           
                              <input type="text" class="form-control" name="bairro" placeholder="Ex: Alto Branco" required>
                           
                        </div>
                        
                        <div class="form-group">
                           <label>Onde Tocar :</label>
                           
                              <label class="radio  inline">
                              <input type="radio" name="ondeTocar" value="Em Banda"><b>Em Banda</b> 
                              </label>
                              <label class="radio  inline">
                               <input type="radio" name="ondeTocar" value="Ocasionalmente"><b>Ocasionalmente</b>
                              </label>
                           
                        </div>
                 </div>
                       
                       
                       <div class="col-md-6">
                     
                        <h3><i class="glyphicon glyphicon-headphones"></i>&ensp; Estilos e Instrumentos</h3>
                        
                        <div class="form-group">
                           <label>Instrumentos que toca :</label>
                           
                              <select multiple="multiple" name="instrumentos" required style="width: 470px">
                                 @for(instrumeto <- instrumentos){
                                 <option value="@instrumeto.getId()"> @instrumeto.getNome()</option>
                                 }
                              </select>
                           
                        </div>
                        <div class=form-group">
                           <label >Estilos que gosta :</label>
                           
                              <select multiple="multiple" name="estilosQueGosta" style="width: 470px">
                                 @for(estiloQueGosta <- styles){
                                 <option value="@estiloQueGosta.getId()"> @estiloQueGosta.getNome()</option>
                                 }
                              </select>
                           
                        </div>
                        
                        <div class="form-group">
                           <label>Estilos que não gosta :</label>
                          
                              <select multiple="multiple" name="estilosQueNaoGosta" style="width: 470px">
                                 @for(estiloQueNaoGosta <- styles){
                                 <option value="@estiloQueNaoGosta.getId()"> @estiloQueNaoGosta.getNome()</option>
                                 }
                              </select>
                           
                        </div>
                   
                   
                        <h3><i class="fa fa-phone-square bigicon"></i> &nbsp;Formas de Contato</h3>
                        
                        <div class="form-group">
                           
                           <label >Email :</label>
                           
                              <input class="form-control" type="txt" name="email" placeholder="exemplo&#64;exemplo.com" pattern="[a-z0-9._%+-]+&#64;[a-z0-9.-]+\.[a-z]{2,4}$" required> 
                           
                        </div>
                        
                        <div class="form-group">
                           <label >Facebook :</label>
                          
                              <input class="form-control" type="url" placeholder="http://www.facebook.com/" name="facebook" pattern="http?://.+" required> 
                           
                        </div>
                        <div class="form-group">
                           <label>Telefone :</label>
                              
                              <input class="form-control" type="tel" name="telefone" placeholder="(99) 9999-9999" required>
                           
                        </div>
                        
               
               
            
					<div class="form-group">
					   
						<button type="reset" class="btn btn-danger">Limpar</button>
						<input type="submit" class="btn btn-success" value="Cadastrar">
					  
					</div>
              
               </div>
               </form>

								</div>
							</div>
						</div>
					</div>
					<!-- End Form Elements -->
				</div>
			</div>
			<!-- /. ROW  -->
			<div class="row"></div>
			<!-- /. ROW  -->
		</div>
		<!-- /. PAGE INNER  -->
	</div>
	<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->
	<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
	<!-- JQUERY SCRIPTS -->
	<script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")"></script>
	<!-- BOOTSTRAP SCRIPTS -->
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	<!-- METISMENU SCRIPTS -->
	<script src="@routes.Assets.at("javascripts/jquery.metisMenu.js")"></script>
	<!-- CUSTOM SCRIPTS -->
	<script src="@routes.Assets.at("javascripts/custom.js")"></script>
	<!-- SELECT SCRIPTS -->
	<script src="@routes.Assets.at("javascripts/jquery.multiple.select.js")"></script>

	<script>
		$("select").multipleSelect({
			filter : true
		});
	</script>
</body>
</html>

